<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#">OneTech</a></div>
                    </div>
                    <div class="footer_title"></div>
                    <div class="footer_phone">+84 37 903 5252</div>
                    <div class="footer_contact_text">
                        <p><%= __('APPCORE Softwave Company') %></p>
                        <p><%= __('Ordering unit: LaptopTN technology equipment store, Ninh Kieu district, Can Tho city') %>
                        </p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title"><%= __('Find it Fast') %></div>
                    <ul class="footer_list">
                        <li><a href="#listOfProduct"><%= __('Products') %></a></li>
                        <li><a href="#topMenu"><%= __('Categories') %></a></li>
                        <li><a href="#topMenu"><%= __('Brands') %></a></li>
                        <li><a href="#topMenu"><%= __('Contact') %></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <ul class="footer_list footer_list_2">
                        <li><a href="#"><%= __('Video Games & Consoles') %></a></li>
                        <li><a href="#"><%= __('Accessories') %></a></li>
                        <li><a href="#"><%= __('Cameras & Photos') %></a></li>
                        <li><a href="#"><%= __('Hardware') %></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title"><%= __('Customer care') %></div>
                    <ul class="footer_list">
                        <li><a href="tel:0379035252"><%= __('Call To Buy') %></a></li>
                        <li><a href="tel:0379035252"><%= __('Customer Services') %></a></li>
                        <li><a href="tel:0379035252"><%= __('Returns / Exchange') %></a></li>
                        <li><a href="tel:0379035252"><%= __('Advisory') %></a></li>
                        <li><a href="tel:0379035252"><%= __('Product Support') %></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>