<div class="cart_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title"><%= __('Shopping cart') %></div>
                    <!-- Cart Item -->
                    <div class="cart_items">
                    </div>
                    <!-- Order Total -->
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                        </div>
                    </div>
                    <div class="information_user">
                        <div style="display:flex; flex-direction:start; align-items:center; ">
                            <div class="form-label-group mt-4" style="width:25%; margin:0 20px 0 0">
                                <div><%= __('Your name') %></div>
                                <input type="text" class="form-control customerName" style="color: #333;" required />
                            </div>
                            <div class="form-label-group mt-4" style="width:25%; margin:0 30px 0 0;display: none;">
                                <div><%= __('Date of brith') %></div>
                                <input type="date" id="theDate" class="form-control date-of-birth"
                                    style="color: #333;" />
                            </div>
                            <div class="form-label-group" style="margin-top:55px">
                                <div class="d-flex">
                                    <span>
                                        <i class="fas fa-mars"></i>
                                        <label for="gender">
                                            <input type="radio" class="form-control gender" name="gender" value="Male"
                                                style="color: #333;width: 25px; height: 25px;" checked />
                                            <%= __('Male') %>
                                        </label>
                                    </span>
                                    <span style="margin-left: 10px;">
                                        <i class="fas fa-venus"></i>
                                        <label for="gender">
                                            <input type="radio" class="form-control gender" name="gender" value="Female"
                                                style="color: #333; width: 25px; height: 25px;" /> <%= __('Female') %>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="display:flex">
                            <div class="form-label-group mt-4" style="width:25%; margin:0 20px 0 0 ">
                                <div><%= __('Number phone') %></div>
                                <input type="text" class="form-control number-phone" style="color: #333;" required />
                            </div>
                            <div class="form-label-group mt-4" style="width:25%">
                                <div>Email</div>
                                <input type="email" class="form-control email" style="color: #333;" required />
                            </div>
                        </div>
                        <div class="form-label-group mt-4">
                            <div><%= __('Address') %></div>
                            <input type="text" class="form-control address" style="color: #333;" required />
                        </div>
                    </div>

                    <div class="cart_buttons">
                        <button type="button" onclick="clearCart()"
                            class="button cart_button_clear"><%= __('Clear') %></button>
                        <button class="button cart_button_checkout" type="submit"
                            onclick="sendData();"><%= __('Payment') %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>